div#portal-column-one div.portletWrapper dl.portletGoToParent {
    margin-bottom:0em;
}

/* Disable simplelayout design menu on chapter, since we cannot
   create a PDF with multiple columns. */
.portaltype-chapter #simplelayout-contentmenu-design {
  display: none;
}

.BlockOverallWrapper.chapter > a {
  display: block;
  margin-bottom: 2em;
}

.BlockOverallWrapper.remark {
  background: none repeat scroll 0 0 #DDDDDD;
  margin: 10px 0;
  direction: ltr;
}