@include portal-type-font-awesome-icon(ftw-book-book, book);
@include portal-type-font-awesome-icon(ftw-book-chapter, list-ol);
@include portal-type-font-awesome-icon(ftw-book-htmlblock, code);
@include portal-type-font-awesome-icon(ftw-book-table, table);
@include portal-type-font-awesome-icon(ftw-book-textblock, paragraph);


/* HTML Block
https://github.com/4teamwork/ftw.htmlblock/blob/master/ftw/htmlblock/browser/resources/styles.scss
*/
@include ie-only(".sl-can-edit .ftw-book-htmlblock.has-iframe .sl-block-content") {
  cursor:  not-allowed;
}

@include ie-only(".sl-can-edit .ftw-book-htmlblock iframe") {
  pointer-events: none;
}
